<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/"><img src="/static/img/docker-top-logo.png" alt="Docker"/></a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="/learn-more">Learn more</a>
        </li>
        <li>
          <a href="/getting-started">Getting started</a>
        </li>
        <li>
          <a href="/community">Community</a>
        </li>
        <li>
          <a href="/docs">Documentation</a>
        </li>
        <li>
          <a href="//blog.docker.io">Blog</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="//index.docker.io">INDEX</a></li>
      </ul>
    </nav>
  </div>
</header>